<div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-white py-6 subpixel-antialiased sm:py-12">
  <header class="container mx-auto flex flex-col gap-6 border-b-2 py-6">
    <a href="#" aria-label="Home" class="px-5 text-2xl font-medium">Lens</a>
    <nav class="px-5">
      <ol id="navBar" class="flex flex-row flex-nowrap gap-12">
        <li>Home</li>
        <li>Latest</li>
        <li>Popular</li>
        <li>Categories</li>
      </ol>
    </nav>
  </header>
  <main class="container mx-auto">
    <section class="mt-12 flex flex-col justify-center gap-6 px-5">
      <h2 class="text-xl">Posts</h2>
      <section class="flex flex-row gap-8">
      <div class="basis-1/2 rounded-md border border-gray-200 bg-white p-6 shadow-sm hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
        <a href="#">
          <h5 class="mb-2 font-medium tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
          <p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
        </a>
      </div>
      <div class="basis-1/2 rounded-md border border-gray-200 bg-white p-6 shadow-sm hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
        <a href="#">
          <h5 class="mb-2 text-md font-medium tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
          <p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
        </a>
      </div>
      </section>
    </section>
  </main>
</div>
